.slot {
  display: inline-block;
  vertical-align: middle;

  position: relative;

  border: 4px solid;

  border-radius: 50%;
  height: 53px;
  width: 53px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.avatar__slot {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
