.modal-add-pokemon{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 9999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;

  height: 32px;
  width: 32px;

  position: relative;
}

.button__line {
  background-color: rgba(0, 0, 0, 0.3);

  position: absolute;

  height: 1px;
  width: 100%;
}

.button__line--first {
  left: 0px;
  top: 50%;
  transform: translate(0%, -50%) rotate(45deg);

  height: 1px;
  width: 100%;
}

.button__line--second {
  left: 50%;
  top: 0px;
  transform: translate(-50%, 0%) rotate(45deg);

  height: 100%;
  width: 1px;
}

.modal-content {
  background: linear-gradient(90deg, #43E97B 0%, #38F9D7 100%);
  margin: 5% auto;
  padding-top: 10vh;
  width: 25%;
  pointer-events: all;
  max-height: 70vh;
  overflow: scroll;
}

.initial-modal {
  background: #F7F9FC;
  height: 100%;
  border-radius: 24px 24px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.div-datas {
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.inputs {
  width: 60%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #E4E9F2;
  font-size: 14px;
  color: #000;
}

.btn-edit {
  background: transparent;
  border: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-action {
  background-color: #EDF1F7;
  border-radius: 4px;
  border: none;
  height: 100%;
  width: 15%;
  cursor: pointer;
}

.div-datas-division {
  width: 33%;
  border-right: solid 1px #C5CEE0;
  height: 60px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.label-information {
  font-weight: bold;
  font-size: 12px;
}


.div {
  align-items: center;
  display: flex;
  width: 80%;
  position: relative;
  margin-bottom: 25px;
  margin-top: 25px;
}

.div__content {
  background: #fff;
  font-size: 12px;
  font-weight: bold;
  color: #2E3A59;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.div__separator {
  border-bottom: 1Px solid #E4E9F2;
  height: 3px;
  width: 100%;
}

.type-information {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 20px;
}

.type-information__content {
  width: 33%;
  height: 25px;
  color: #fff;
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.habilitie-information {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px;
}

.label-habilities {
  font-size: 12px;
  font-weight: bold;
  color: #2E3A59;
}

.div-statistics {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.div-statistics-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label-inputs {
  font-size: 12px;
  font-weight: bold;
  color: #2E3A59;
  margin-bottom: 6px;
}


.btn-remove-pokemon {
  background-color: #FF3D71;
  position: fixed;
  bottom: 10%;
  border-radius: 42px;
  color: #fff;
  font-weight: bold;
  border: none;
  width: 15%;
  height: 40px;
  margin: 20px;
  align-self: center;
}

@media screen and (max-width: 900px) {
  .modal-content {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
}