.map-pokemon {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('../../assets/Background.png');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slots-pokemon{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 20vw;
  height: 80%;
}

.btn-ash {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 15vh;
  top: 45%;
  left: 50%;
  z-index: 999999;
}

.ash-image {
  position: absolute;
  bottom: 10%;

}

.ash-ballon-search{
  display: none;
}

.btn-ash:hover .ash-ballon-search {
  display: flex;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}